<!DOCTYPE html>
<html>
<head>
  <title>Playground</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_include_tag "playground/playground", skip_pipeline: true, nonce: true, media: "all" %>
  <%= stylesheet_link_tag "/stylesheets/playground/playground", media: "all" %>
</head>
  <body id="playground">
    <%= yield %>
  </body>
</html>
